.numero1{
    margin-left: 600px;
    margin-top: 55px;
    background-color: #CAE4FF;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px ;
    width: 10px;
    position: relative;
   z-index: 2;
    
}
.passo1{
    margin-left: 670px;
    margin-top: -30px;
   font-family: Ubuntu , sans-serif;
   position: relative;
   z-index: 2;
}
.passo1 h3 {
    margin-top: 5px;
}
.numero2{
    margin-left: 600px;
    margin-top: 55px;
    border: 1px solid #ccc;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px ;
    width: 10px;
    position: relative;
   z-index: 2;
}
.passo2{
    margin-left: 670px;
    margin-top: -30px;
   font-family: Ubuntu , sans-serif;
   position: relative;
   z-index: 2;
}
.passo2 h3 {
    margin-top: 5px;
}
.numero3{
    margin-left: 600px;
    margin-top: 55px;
    border: 1px solid #ccc;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px ;
    width: 10px;
    position: relative;
   z-index: 2;
}
.passo3{
    margin-left: 670px;
    margin-top: -30px;
   font-family: Ubuntu , sans-serif;
   position: relative;
   z-index: 2;
}
.passo3 h3 {
    margin-top: 5px;
}
.numero4{
    margin-left: 600px;
    margin-top: 55px;
    border: 1px solid #ccc;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px ;
    width: 10px;
    position: relative;
   z-index: 2;
}
.passo4{
    margin-left: 670px;
    margin-top: -30px;
   font-family: Ubuntu , sans-serif;
   position: relative;
   z-index: 2;
}
.passo4 h3 { 
    margin-top: 5px;
}
.calendário{
    margin-left: 580px;
    margin-top: -600px;
    position: relative;
    display: flex;
    z-index: 1;
    
}
.titulo{
    margin-left: 1000px;
    transform: translateY(-400px);
    font-family: Ubuntu , sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.titulo2{
    margin-left: 1000px;
    transform: translateY(-380px);
    font-family: Ubuntu , sans-serif;
}