body{
    background-color: rgba(235, 180, 1, 0.884);
}
.card img{
    margin-left: 500px;
    margin-top: 100px;
    padding: 0px;
    width: 23%;
}
.botão button{
         margin-left: 500px;
         margin-top: 30px;
         background-color: rgba(235, 180, 1, 0.884);
         border-radius: 10px;
         width: 100px;
         padding: 10px;
         box-shadow:2px  2px  5px ;

}
.frase{
    margin-left: 500px;
     margin-top: 40px;
     font-family: 'Times New Roman', Times, serif;
     font-size: 17px;
}
.frase01{
    margin-left: 500px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:   rgba(235, 180, 1, 0.884);
}
.frase02{
    margin-left: 500px;
    margin-top: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    
}
.pessoa img{
    margin-left: 500px;
    margin-top: 50px;
    width: 3%;
}
.nome {
       margin-left: 570px;
       margin-top: -40px;
       font-size: 18px ;
}
.caixa{
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 0px black;
    padding: 370px;
    margin: 20px auto;
    width: 1px;
    margin-top: -700px;
    margin-left: 350px;
}