body{
    background-color: rgb(247, 244, 241);
}
.caixa00{
    background-color: rgb(236, 215, 187);
    padding: 10px;
    border-radius: 100px;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    margin-left: 100px;
    text-align: center;
    letter-spacing: -1px;
    margin: 50px;
}
.caixa00 h2 p {
     margin-top: 3px
}

.botão img{
    width: 40%;
}
.caixa01{

    background-color: rgb(240, 180, 102);
    padding: 50px;
     border-radius: 100px;
     font-family: 'Times New Roman', Times, serif;
     width: 300px;
     margin-left: 60px;
     text-align: center;
      letter-spacing: -1px;
      font-size: 25px;
}
.caixa01 h2 p {
     margin-top: 3px
}
.dialogo img{
    width: 60%;
}
.caixa02{
    margin-left: 700px;
    margin-top: -800px;
    background-color: rgb(150, 102, 240);
     border-radius: 50px;
     padding: 50px;
     width: 500px;
     margin-left: 500px;
     text-align: center;
     color: aliceblue;
     font-size: 20px;
     font-family: 'Times New Roman', Times, serif;
}
.estrela img{
        width: 60%;

}
    .caixa03 {
        margin-left: 500px;
        margin-top: 50px;
        background-color: white;
        border-radius: 30px;
        padding: -50px;
        width: 400px;
        font-family: 'Times New Roman', Times, serif;
        display: grid;
    }
    .caixa03 H1 {
          order: 2; 
          padding-left: 80px;
    }
    .icones img{
        width: 60%;
        display: flex;
        flex-direction: column-reverse;
        padding-left: 80px;
    }
    .caixa04{
        margin-left: 500px;
        margin-top: 40px;
        background-color: white;
        border-radius: 50px;
        padding: 50px;
        width: 300px;
    }
    .caixa04 h1 {
        font-family: 'Times New Roman', Times, serif;
        margin-top: -30px;
        padding-left: 10px;
        font-size: 60px;
    }
    .caixa04 h2 {
        font-family: 'Times New Roman', Times, serif;
        margin-top: -30px;
        font-size:18px;
    }
    .pessoas img{
        width: 50%;
        padding-left: 70px;
    }
    .caixa05{
        margin-left: 1000px;
        margin-top: -550px;
        background-color: rgb(240, 180, 102);
        border-radius: 20px;
        padding: 15px;
        width: 400px;
        
    }
    .cronograma img{
        width: 50%;
    }