.foto img{
     margin-left: 815px;
     margin-top:50px;
     width: 5%;
     border-radius: 50px;
}
.nome{
     margin-left: 778px;
     margin-top:15px;
     font-size: 25px;
     font-family: Arial, sans-serif;
     color: #111111;
}
.nome h5{
    color:#C5F82A ;
    margin-left: 15px;
    font-size: 15px;
    font-family: Arial, sans-serif;
}
.nome02{
    margin-left: 745px;
    font-family: Arial, sans-serif;
    
}
.botão{
    margin-left: 725px;
    margin-top: 30px;
    background-color: #C5F82A;
    padding: 18px 130px;
    border-radius: 12px;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.botão01{
    margin-left: 680px;
    margin-top: 30px;
    background-color: #333333;
    color: white;
    padding: 18px 130px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.botão02{
    margin-left: 720px;
    margin-top: 30px;
    background-color: #333333;
    color: white;
    padding: 18px 130px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.botão03{
    margin-left: 730px;
    margin-top: 30px;
    background-color: #333333;
    color: white;
    padding: 18px 130px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.botão04{
     margin-left: 718px;
    margin-top: 30px;
    background-color: #333333;
    color: white;
    padding: 18px 130px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
